.new-product {
  flex: 4;
  padding: 20px;
}

.add-product-form {
  margin-top: 10px;
}

.add-product-item {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.add-product-item > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.add-product-item > input {
  padding: 10px;
}

.add-product-item > select {
  padding: 10px;
}

.add-product-button {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
